body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    color: blue;
    font-size: 40px;
}

.name {
    color: orange;
}

section {
    display: flex;

}

.half {
    width: 50%;
    padding-left: 5%;

}

.half p {
    font-weight: 500;
}

.half img {
    width: 60%;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    font-weight: 700;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}